.main-screen__body{
    background-color: #222f3e;
    color: #95afc0;
}
.profile{
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 30px;
}
.profile__img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
   
}
.profile__name{
    margin-left: 30px;
    font-size: 30px;
    
}
.main-column{
    display: flex;
    justify-content: flex-start;
    align-items: center;   
}
.main{
    justify-content: flex-start;
    margin: 15px 25px 0px 25px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    font-size: 25px;
    display: flex;
    justify-content:space-between;
}

.main i {
    padding-right: 20px;
   
}
.header-icons__icon a{
    text-decoration: none;
    color: black;
}
.main__box{
    display: none;
}

.todo_unfold{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 25px;
    margin-bottom: 10px;
}

.dday-unfold{
    display: inline-block ;
    width: 30px;
    height: 30px;
    margin-left: 25px;
    margin-bottom: 10px;
}